[Unit]
Description=rediary
Documentation=https://github.com/aceberg/rediary
After=network-online.target
Wants=network-online.target

[Service]
User=%i
ExecStart=/usr/bin/rediary -c /home/%i/.config/rediary/config.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target