{{ define "config" }}

<body>
    <div class="container mt-5">
    <div class="row">
        <div class="col">
        <table class="table">
            <form action="/save_config/" method="post">
                <tr>
                    <td>DB Path</td>
                    <td><input name="db" type="text" class="form-control" value="{{ .Config.DB }}"></td>
                </tr>
                <tr>
                    <td>Host</td>
                    <td><input name="host" type="text" class="form-control" value="{{ .Config.Host }}"></td>
                </tr>
                <tr>
                    <td>Port</td>
                    <td><input name="port" type="text" class="form-control" value="{{ .Config.Port }}"></td>
                </tr>
                <tr>
                    <td>Theme</td>
                    <td><select name="theme" class="form-select">
                        <option selected>{{ .Config.Theme }}</option>
                        {{ range .Themes }}
                            <option value="{{ . }}">{{ . }}</option>
                        {{ end }}
                    </select></td>
                </tr>
                <tr>
                    <td>Color mode</td>
                    <td><select name="bgcolor" class="form-select">
                        <option selected>{{ .Config.BgColor }}</option>
                        <option value="light">light</option>
                        <option value="dark">dark</option>
                    </select></td>
                </tr>
                <tr>
                    <td>Mood Max</td>
                    <td><input name="moodmax" type="number" class="form-control" value="{{ .Config.MoodMax }}"></td>
                </tr>
                <tr>
                    <td><button type="submit" class="btn btn-primary">Save</button></td>
                    <td></td>
                </tr>
            </form>
        </table>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-md-auto">
                    <form action="/clear/" method="post">
                        <button type="submit" class="btn btn-danger">Clear table</button>
                    </form>
                </div>
                <div class="col-md-auto">
                    <div class="alert alert-info" role="alert">
                        <p><b>Warning!</b> This button will remove all your diary records</p>
                    </div>
                </div>
            </div>
            <br>
            <b>Colors</b>
            <form action="/save_colors/" method="post">
                <table class="table">
                    <tr>
                        <td style="max-width: 5%;">
                            <i style="color: {{ .Config.ColorMinus }};" class="bi bi-circle-fill"></i>
                        </td>
                        <td>Minus</td>
                        <td>
                            <input name="minus" value="{{ .Config.ColorMinus }}" type="color" class="form-control form-control-color">
                        </td>
                    </tr>
                    <tr>
                        <td style="max-width: 5%;">
                            <i style="color: {{ .Config.ColorPlus }};" class="bi bi-circle-fill"></i>
                        </td>
                        <td>Plus</td>
                        <td>
                            <input name="plus" value="{{ .Config.ColorPlus }}" type="color" class="form-control form-control-color">
                        </td>
                    </tr>
                </table>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Tags</b>
            <form action="/add_tag/" method="post" class="input-group">
                <input name="tag" type="text" class="form-control" placeholder="Tag">
                <span class="input-group-text">Color picker</span>
                <input name="color" type="color" class="form-control form-control-color">
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
            <br>
            <form action="/del_tag/" method="post" class="input-group">
                <select name="tag" class="form-select">
                    {{ range $key, $value := .Config.TagMap }}
                        <option value="{{ $key }}">{{ $key }}</option>
                    {{ end }}
                </select>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        <div class="col">
            <b>Actions</b>
            <form action="/add_action/" method="post" class="input-group">
                <select name="tag" class="form-select">
                    {{ range $key, $value := .Config.TagMap }}
                        <option value="{{ $key }}">{{ $key }}</option>
                    {{ end }}
                </select>
                <input name="name" type="text" class="form-control" placeholder="Name">
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
            <br>
            <form action="/del_action/" method="post" class="input-group">
                <select name="name" class="form-select">
                    {{ range .Config.Actions }}
                        <option value="{{ .Tag }}:{{ .Name }}">{{ .Tag }}: {{ .Name }}</option>
                    {{ end }}
                </select>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
    </div>
        

{{ template "footer" }}
{{ end }}